/*Mobile*/
@media (max-width: 600px) {
body {
    margin: 0;
    /* height: 100vh; */
    width: 100vw;

    grid-template-columns: 1fr;
    grid-template-rows: 100vh 1fr;
}

body>section:nth-child(2){
    overflow-x: visible;
    grid-template-rows: auto auto auto;
    padding: 2vh;
}

.searchForm1{
    display: block;
}

.searchForm2{
    display: none;
}

.Contentor4ten{
    width: 100vw;
}

.dateBox {
    width: 30vw;
}

}

/* Tablet*/
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 1fr;
  }
}