@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
    margin: 0;
    overflow-x: hidden;

    height: 100vh;
    width: 100vw;
    background-color: #F7F7F9;
    color: rgb(25,25,25);

    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    display: grid;
    grid-template-columns: 27.5% 1fr;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body>section:nth-child(1){
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 10% 1fr 20%;

    height: 100%;
}

body>section:nth-child(1)>div{
    padding: 1.75vw;
}


.center input{
    position: relative;

    padding: 1.5vh;
    padding-left: 1.5vw;
    padding-right: 6.5vw;
    border-radius: 20pt;

    border: none;
    background-color: rgb(235, 235, 235);

    z-index: 1;
} 

.searchForm1{
    display: none;
}

.searchForm2{
    display: block;
}

.searchResult{
    position: absolute;
    top: 6vh;
    width: 19.25vw;
    background-color: rgb(245, 245, 245);
    z-index: 100;
    border-radius: 10pt;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
#searchInput2{
    
}
    

.localBox{
    width: 100%;
    
    padding-top: 2vh;
    min-height: 4vh;
    max-height: 15vh;

    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.localBox>div{
    padding: 0.5vw;
    background-color: rgb(250,250,250);
    cursor: pointer;
    transition: background-color 0.2s;
}

.localBox>div:hover{
    background-color: rgb(240,240,240);
}

.localBox span{
    font-size: 1.75vh;
}


body>section:nth-child(1)>div:nth-child(2){
    display: flex;
    flex-direction: column;
}

.localInfo{
    padding: 1.40vh;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: rgb(250,250,250);
    border-radius: 5vh;

    font-size: 2vh;

    width: fit-content;
}

.day{
    padding-top: 2vh;
    font-size: 5vh;
    font-weight: 500;
}

.date{
    padding-top: 1.25vh;
    font-size: 2vh;
    font-weight: 300;
}

.tempPrinc{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.tempPrinc > div:nth-child(1){
    position: absolute;

    height: 15vw;
    width: 23vw;
}

.tempPrinc > span:nth-child(2){
    font-size: 10vh;
    align-content: end;
    font-weight: 600;
}

.actualStatus{
    display: flex;
    flex-direction: column;

    justify-content: end;
}

.actualStatus span:nth-child(1){
    font-size: 3vh;
    padding-bottom: 1vh;
    font-weight: 600;
}

.actualStatus span:nth-child(2){
    font-size: 2vh;
    font-weight: 200;
    padding-bottom: 1vh;
}

.windHumityContentor{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.windHumityContentor>div{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}


body>section:nth-child(2){
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 7vh auto auto auto;
    padding-bottom: 2vh;
}

section:nth-child(2)>div{
    width: 65vw;

    padding: 2vw;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    display: flex;
    flex-direction: column;

    gap: 2vh;
}

.IntermedioSpan{
    font-size: 3vh;
    font-weight: 600;
    padding-bottom: 2vh;
}

.ContentorSpan{
    display: flex;
    gap: 0.75vw;
}

.ContentorSpan  span{
    padding-right: 1.75vw;
    font-size: 2.5vh;

    cursor: pointer;
    transition: all 0.7s;
}

.unSelect{
    font-weight: 300;
}
.select{
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 1vh;
}

section:nth-child(2)>div:nth-child(2) {
    gap: 3.5vh;
}

.Contentor4ten{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    
    overflow: hidden;
    height: 30vh;
    
    padding-left: 0.25vw;

}

.dateBox{
    flex: 0 0 auto;  

    width: 8.25vw;
    height: 25vh;
    border-radius: 12pt;
    background-color: white;

    display: grid;
    grid-template-rows: 25% 1fr 25%;


    transition: all 0.3s;
    z-index: 10;
    cursor: pointer;
}

.dateBox:hover{
    transform: scale(1.05);
}

.dateBox.selected{
    outline: 3px solid #4A90E2;
    outline-offset: -3px;
}

.dateBox>div:nth-child(1){
    text-align: center;
    align-content: center;

    font-size: 2.1vh;
}

.dateBox > .center{
    gap: 1vw;
}

.dateBox > .center > span:nth-child(2){
    color: rgb(200,200,200);
}

.contentorBoxInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vw
}

.contentorBoxInfo > div{
    width: 20vw;
    height: 30vh;

    background-color: white;
    border-radius: 12pt;
}

.boxPrinc{
    display: flex;
    justify-content: center;
    gap: 4vw;
    align-items: center;
}


.elementBox{
    display: grid;
    grid-template-areas: 
    'span1 span1'
    'div spanBox'
    ;
    grid-template-rows: 30% 1fr;
    grid-template-columns: 1fr 1fr;

    column-gap: 1vw;
    padding-bottom: 1vh;
}


.elementBoxSpan{
    display: flex;
    flex-direction: column;
    gap: 3vh;

    grid-area: spanBox;
}

.elementBox > span:nth-child(1){
    font-size: 3vh;
    font-weight: 600;

    grid-area: span1;
    padding-left: 2vw;
}

.ElementSvg{
    grid-area: div;
    padding-left: 2vw;
}   

.values{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.values > span:nth-child(2){
    font-size: 3.5vh;
    font-weight: 600;
}

.AirQualityContentor{
    background-color: white;

    padding: 2vw;
    border-radius: 20pt;

    display: grid;
    grid-template-areas: 
    'Title Title'
    'graf text'
    'bottom bottom'
    'Data Data'
    ;
    grid-template-rows: 7vh 1fr 5vh;
    grid-template-columns: 1fr 1fr;
}

.AirQualityContentor>span{
    font-size: 3.5vh;
    font-weight: 600;
}

.AirQualityContentor>div:nth-child(2){
    align-content: center;
    text-align: center;
}

.AirText{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AirText>span:nth-child(1){
    font-size: 5vh;
    font-weight: 600;
    padding-bottom: 2vh;
}

.AirText>span:nth-child(2){
    width: 80%;
}

.bottomBox{
    grid-area: bottom;
    text-align: end;
    width: 100%;
}

.bottomBox>span{
    padding: 2vh;
    background-color: rgb(235, 235, 235);
    border-radius: 16pt;
    cursor: pointer;
}

.AirDetails{
    grid-area: Data;

    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    row-gap: 7.5vh;
    padding-top: 5vh;

    transition: all 0.4s;
    opacity: 1;

    z-index: 0;
}

.AirDetails>div{
    height: 12vh;
    display: grid;
    grid-template-areas: 
    'graph info'
    'graph info'
    ;

    padding-left: 1vw;
    padding-right: 1vw;

    justify-content: center;
    gap: 2vw;

    grid-template-columns: 1fr 1fr;
    opacity: 1;
}

.AirDetails>div>div:nth-child(1){
    grid-area: graph;
}

.AirDetails>div>div:nth-child(2){
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.AirText, .graf,.spanAirTitle, .bottomBox {
    z-index: 1;
    background-color: white;
}








