.circular-chart {
  max-width: 20vh;
  max-height: 20vh;
}

.circle-bg {
  fill: none;
  stroke: #edf0f3;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  stroke: #4cd964; /* verde */
  transform: rotate(90deg);
  transform-origin: center;
  transition: stroke-dasharray 0.3s;
}

.percentage {
  fill: #000;
  font-family: sans-serif;
  font-size: 10px;
  text-anchor: middle;
}

.rays {
  transform-origin: 50% 50%;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}